<%- include('partials/header'); -%>

  <main>
    <iframe class="radioFrame" src="https://stupefied-ardinghelli-1093f0.netlify.app/" ></iframe>

    <!-- <button><a href="http://localhost:8080/">radios</a></button> -->
    <ul>
    

<h3>Favourites</h3>



    <form action="/favorite" >

      <select name="radioPicker">
        <option value="1"> <%= locals.stationName0 %> </option>
        <option value="2"> <%= locals.stationName1 %>  </option>
        <option value="3"> <%= locals.stationName2 %>  </option>

      </select>
      <button >Add  to favorites</button>

    </form>
  </main>
  <%- include('partials/footer'); -%>

    <script>







window.onload = async (event) =>{
  
  var dropDown = document.querySelector("radioPicker")



  var options = {
    method: 'GET',

    params: {reverse: 'false', offset: '0', limit: '10', hidebroken: 'false'},
    headers: {
      'x-rapidapi-host': 'radio-browser.p.rapidapi.com',
      'x-rapidapi-key': 'ad3c92741dmshe1e30f51eb1488dp1b285djsn2780563b1f51'
    }}
const data = await fetch("https://radio-browser.p.rapidapi.com/json/stations", options);
          
console.log(data.json())

// const statData = data.json()


// statData.forEach(element => {
//    var opt = document.createElement("option")
// opt.value = element.name
// dropDown.appendChild(opt)

//   });
console.log('Page Loaded');

};





      const form = document.querySelector('form');

      form.addEventListener('submit', async (e) => {
        e.preventDefault();
        try {


          const Id = form.radioPicker.value;
          const FavUser = 'test@test.se';


          const res = await fetch('/favorite', {
            method: 'POST',
            body: JSON.stringify({ Id, FavUser }),
            headers: { 'Content-Type': 'application/json' }
          });
          //   const data = await res.json();



          console.log(data);
          if (data.errors) {
            console.log(data.errors);
          }
          if (data) {
            location.assign('/');
          }

        }
        catch (err) {
          console.log(err);
        }

      })
    </script>